<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}projet SNCF{% endblock %}</title>

            {% block stylesheets %}
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/public/css/style.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/foundation/stylesheets/app.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/foundation/stylesheets/normalize.css') }}" />
            {% endblock %}

            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link type="text/plain" rel="author" href="{{ asset('humans.txt') }}" />
        {% endblock %}
    </head>

    <body>

        <!-- Content -->
        {% block body %}
        {% endblock %}
        <!-- End Content -->

        <!-- Footer -->
        {% block footer %}
            <footer class="row-fluid">
                <div class="span12">
                    <hr />
                    <div class="row-fluid">
                        <div class="span6 hidden-phone">
                        </div>
                        <div class="span6">
                            <p>&copy; Copyright Jaguar Gorgone pour les puristes </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        <!-- End Footer -->

        <!-- Javascript -->
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/public/js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/foundation/javascripts/foundation/foundation.alerts.js') }}"></script>
        {% endblock %}
        <!-- End Javascript -->

    </body>

</html>
