<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}projet SNCF{% endblock %}</title>

            {% block stylesheets %}
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/public/stylesheets/style.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/foundation/stylesheets/app.css') }}" />
                <link rel="stylesheet" type="text/css" href="{{ asset('Resources/foundation/stylesheets/flat-ui.css') }}" />
                {% stylesheets '@LPDWClientBundle/Resources/public/css/*' filter='cssrewrite' %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
                {% stylesheets '@LPDWTwitterBundle/Resources/public/css/*' filter='cssrewrite' %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endblock %}

            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link type="text/plain" rel="author" href="{{ asset('humans.txt') }}" />
            <script type="text/javascript" src="{{ asset('Resources/foundation/javascripts/vendor/custom.modernizr.js') }}"></script>
        {% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <!-- Content -->
            {% block body %}
                <!-- Topnav -->
                <header id="topnav">
                    <!-- Google map image logo + title -->
                    <div class="row">
                        <div id="logo" class="large-8 small-12 columns">
                            <a href="{{ path('lpdw_search') }}">
                                <figure id="google-map-logo"></figure>
                                <h2 id="title">Where ?</h2>
                            </a>
                        </div>
                    </div>
                    <!-- End google map image logo + title -->
                </header>
                <!-- end Topnav -->
                <!-- content -->
                <div id="content">
            {% endblock %}
            <!-- End Content -->


            {% block footer %}
                </div>
                <!-- end content -->
                <!-- Footer -->
                <footer id="basefooter">
                    <div class="row">
                        <div class="small-12 large-12 columns">
                            <p class="text-center">&copy; Copyright Jaguar Gorgone pour les puristes </p>
                        </div>
                    </div>
                </footer>
            {% endblock %}
            <!-- End Footer -->
        </div>

        <!-- Javascript -->
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/foundation/javascripts/vendor/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/foundation/javascripts/foundation/foundation.js') }}"></script>
            <script type="text/javascript" src="{{ asset('Resources/foundation/javascripts/foundation/foundation.alerts.js') }}"></script>
            <script>
                // initialize foundation's javascript
                $(document).foundation();
            </script>
        {% endblock %}
        <!-- End Javascript -->
    </body>

</html>
