{% extends '::base.html.twig' %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100%; }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?sensor=false"> // script google
    </script>
{% endblock %}

 {% block body %}
     <a class="btn btn-primary back-button" href="#">Retour</a>
     {% block map %}
         <div id="map-canvas"></div>
     {% endblock %}
 {% endblock %}


{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 14, // set default zoom level
            center: new google.maps.LatLng(-33.92, 151.25), // set center point (station point)
            disableDefaultUI: true, // disabled default UI
            mapTypeId: google.maps.MapTypeId.TERRAIN

        });

        var $_oMarker; // define marker and i variable
        //var i = 0;

        {% for Venue in listVenues %}

            $_oMarker = new google.maps.Marker({
                position: new google.maps.LatLng( {{ Venue.latitude }}, {{ Venue.longitude }} ),
                map: map
            });

            var $_oInfoWindow = new google.maps.InfoWindow(); // define infowindow popup

            var $_sContent = "{{ Venue.name }}";

            // appelle la fonction de bind (association marker - content - infowindow)
            bindInfoW($_oMarker, $_sContent, $_oInfoWindow);

        {% endfor %}

        // fonction pour bind le bousin
        function bindInfoW($_oMarker, $_sContent, $_oInfoWindow)
        {
            google.maps.event.addListener($_oMarker, 'click', function() {
                $_oInfoWindow.setContent($_sContent);
                $_oInfoWindow.open(map, $_oMarker);
            });
        }

    </script>
{% endblock %}
