{% extends '::base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ google_map_css(googleMap) }}
    {% endblock %}
{% endblock %}

 {% block body %}
     <a class="btn btn-large btn-block back-button" href="{{ path('lpdw_categories', {'name': stationVenue.name, 'latitude': stationVenue.latitude, 'longitude': stationVenue.longitude}) }}">
         Retour
     </a>
     {% block map %}
         {{ google_map_container(googleMap) }}
     {% endblock %}
 {% endblock %}


{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ google_map_js(googleMap) }}

{% endblock %}
