{% extends '::base.html.twig' %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100%; }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?sensor=false"> // script google
    </script>
{% endblock %}

 {% block body %}
     <a class="btn btn-primary back-button" href="{{ path('lpdw_categories', {'name': stationVenue.name, 'latitude': stationVenue.latitude, 'longitude': stationVenue.longitude}) }}">
         Retour
     </a>
     {% block map %}
         <div id="map-canvas"></div>

     {% endblock %}
 {% endblock %}


{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 14, // set default zoom level
            // set center point (station point)
            center: new google.maps.LatLng( {{ stationVenue.latitude }}, {{ stationVenue.longitude }} ),
            disableDefaultUI: true, // disabled default UI
            mapTypeId: google.maps.MapTypeId.TERRAIN
        });

        // MARKER STATION

        // Icone spécifique du marker

        var $_oMarkerStation; // define marker variable for station
        $_oMarkerStation = new google.maps.Marker({
            position: new google.maps.LatLng( {{ stationVenue.latitude }}, {{ stationVenue.longitude }} ),
            animation: google.maps.Animation.DROP,
            map: map,
            icon : 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
            title : "{{ stationVenue.name }}"
        });

        // MARKER VENUES
        var $_oMarker; // define marker variable
        var $_oInfoWindow = new google.maps.InfoWindow(); // define infowindow popup

        {% for Venue in listVenues %}
            $_oMarker = new google.maps.Marker({
                position: new google.maps.LatLng( {{ Venue.latitude }}, {{ Venue.longitude }} ),
                animation: google.maps.Animation.DROP,
                map: map,
                title : "{{ Venue.name }}"
            });

            var $_sContent = "<div>"+
                                "<h2>{{ Venue.name }}</h2>"+
                                "{% if Venue.address is defined %}<p>{{ Venue.address }}</p>{% endif %}"+
                                "{% if Venue.postalCode is defined %}<p>{{ Venue.postalCode }}</p>{% endif %}"+
                                "{% if Venue.city is defined %}<p>{{ Venue.city }}</p>{% endif %}"+
                                "{% if Venue.state is defined %}<p>{{ Venue.state }}, {{ Venue.country }}</p>{% endif %}"+
                                "{% if Venue.distance is defined %}<p>Distance de la gare(en mètres) : {{ Venue.distance }}</p>{% endif %}"+
                            "</div>";
            // appelle la fonction de bind (association marker - content - infowindow)
            bindInfoW($_oMarker, $_sContent, $_oInfoWindow);

        {% endfor %}

        // fonction pour bind le bousin
        function bindInfoW($_oMarker, $_sContent, $_oInfoWindow)
        {
            google.maps.event.addListener($_oMarker, 'click', function() {
                $_oInfoWindow.setContent($_sContent);
                $_oInfoWindow.open(map, $_oMarker);
            });
        }

    </script>
{% endblock %}
