{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LPDWClientBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <!-- Google map image logo -->
    <div class="row-fluid">
        <h1 class="text-center">Where ?</h1>
        <div id="logo" class="row-fluid">
            <figure class="span12" id="google-map-logo"></figure>
        </div>
        <hr />
    </div>
    <!-- End google map image logo -->

    <!-- Div qui contient les géolocalisations de l'utilisateur (à enlever après) une fois le bouton 'Trouve moi' cliqué -->
    <div class="row-fluid" id="infosposition">
        <div class="span2"></div>
        <div class="span8">
            <h4 style="text-align: center;"><i class="foundicon-flag"></i>Trouver les gares à proximité de ma position</h4>
            <div class="row-fluid">
                <div class="span1 hidden-phone"></div>
                <span class="span10 btn btn-primary" id="findMe">
                    Trouver
                </span>
                <div class="span1 hidden-phone"></div>
            </div>
        </div>
        <div class="span2""></div>
    </div>

    <!-- Formulaire Recherche -->
    {% if form is defined %}
        <hr />
        <div class="row-fluid">
            <div class="span2 hidden-phone"></div>
            <div class="span8 formulaire-recherche">
                <div class="row-fluid">
                    <h4 style="text-align: center;"><i class="foundicon-search"></i>Je recherche une gare en particulier </h4>
                    <form action="{{ path('lpdw_search') }}" method="post"  {{ form_enctype(form) }}>
                        {{ form_widget(form) }}
                        <input class="btn btn-primary span10" type="submit" value="Rechercher"/>
                    </form>
                </div>
            </div>
            <div class="span2 hidden-phone"></div>
        </div>

    {% endif %}
    <!-- End Formulaire Recherche -->

    <div class="row-fluid search-results">

        {% if errorTxt is defined %}
            <!-- Si une erreur est survenue lors de la recherche (formulaire soumis) -->
            <div data-alert class="span12 alert alert-error ">
                {{ errorTxt }}
                <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endif %}

        {% if stations is defined %}

            <div class="span2 hidden-phone"></div>
            <!-- Si le formulaire a été soumis et des résultats ont été envoyés depuis le controlleur -->
            <div class="span8">
                <h4>Gares correspondantes à votre recherche</h4>
                <ul class="nav nav-list">
                    {% for station in stations %}
                        <li>
                            <a href="{{ path('lpdw_categories', {'name': station.name, 'latitude': station.latitude, 'longitude': station.longitude}) }}">
                                {{ station.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="span2 hidden-phone"></div>

        {% endif %}

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LPDWClientBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <script type="text/javascript">
            // stocke dans une variable le lien vers le gif de chargement (utilisée par le JS lors de l'appel ajax ensuite)
            var loadingImg = "{{ asset('Resources/public/images/loading.gif') }}";
        </script>
    {% endjavascripts %}
{% endblock %}