{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@LPDWClientBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <!-- Div qui contient les géolocalisations de l'utilisateur (pas affiché à l'utilisateur) -->
    <div class="row" id="infosposition">
        <span class="button twelve columns" id="findMe">Trouve Moi</span>
    </div>

    {% if form is defined %}

        <div class="row">

            <div class="line-separator"></div>

            <h3>Je recherche une gare en particulier </h3>

                <form action="{{ path('lpdw_search') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <input class="button" type="submit" value="Rechercher"/>
                </form>
        </div>

    {% endif %}


    <div class="row">

        {% if errorTxt is defined %}
            <!-- Si une erreur est survenue lors de la recherche (formulaire soumis) -->
            <div class="alert-box alert twelve columns">
                {{ errorTxt }}
                <a href="" class="close">&times;</a>
            </div>
        {% endif %}

        {% if stations is defined %}

            <!-- Si le formulaire a été soumis et des résultats ont été envoyés depuis le controlleur -->
            <h4>Gares correspondantes à votre recherche</h4>
            <dl class="vertical tabs twelve columns">
                {% for station in stations %}
                    <dd><a href="{{ path('lpdw_search', {'station': station}) }}">{{ station.name }}</a></dd>
                {% endfor %}
            </dl>

        {% endif %}

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LPDWClientBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}