{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="large-6 small-12 columns">
            <h4 class="large-12 small-12 columns">
                <i class="foundicon-flag"></i>
                Trouver les gares à proximité de ma position
            </h4>
            <div class="large-12 small-12 columns" style="text-align: center;">
                <a href="#" class="large-centered small-centered circle-button" id="findMe">
                    Trouver
                </a>
            </div>
        </div>
        <!-- Div qui contient les gares proches de l'utilisateur (à enlever après) une fois le bouton 'Trouve moi' cliqué -->
        <div id="infosposition" class="large-6 small-12 columns"></div>
    </div>
    <div class="row">
        <div class="large-12 small-12 columns formulaire-recherche">
            <hr/>
            <!-- Formulaire Recherche -->
            {% if form is defined %}
                <div class="large-6 small-12 columns">
                    <h4 class="large-12 small-12 columns">
                        <i class="foundicon-search"></i>
                        Je recherche une gare en particulier
                    </h4>
                    <form action="{{ path('lpdw_search') }}" method="post"  {{ form_enctype(form) }}>
                        {{ form_widget(form) }}
                        <input class="large-12 small-12 columns btn btn-large" type="submit" value="Rechercher"/>
                    </form>
                </div>
            {% endif %}
            <div class="large-6 small-12 columns">
                {% if errorTxt is defined %}
                    <!-- Si une erreur est survenue lors de la recherche (formulaire soumis) -->
                    <div data-alert class="large-12 small-12 alert-box alert">
                        {{ errorTxt }}
                        <a class="close" href="#">&times;</a>
                    </div>
                {% endif %}
                {% if stations is defined %}
                    <!-- Si le formulaire a été soumis et des résultats ont été envoyés depuis le controlleur -->
                    <div class="large-12 small-12 columns">
                        <h4>
                            <i class="foundicon-search"></i>
                            Gares correspondantes pour "{{ station }}"
                        </h4>
                        <ul class="nav nav-list">
                            {% for station in stations %}
                                <li>
                                    <a href="{{ path('lpdw_categories', {'name': station.name, 'latitude': station.latitude, 'longitude': station.longitude}) }}">
                                        {{ station.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- End Formulaire Recherche -->
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@LPDWClientBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <script type="text/javascript">
            // stocke dans une variable le lien vers le gif de chargement (utilisée par le JS lors de l'appel ajax ensuite)
            var loadingImg = "{{ asset('Resources/public/images/loading.gif') }}";
        </script>
    {% endjavascripts %}
{% endblock %}
